#portfolio-project{
  padding: 50px 0;
  .container{
    h1{
      font-size: 3rem;
      font-weight: 600;
      font-style: italic;
      margin-bottom: 1.5rem;
    }
    .project-image{
      display: grid;
      grid-gap: 20px;
      //grid-template-columns: 1fr 1fr 1fr;
      //grid-template-rows: 110px 110px 110px 110px 110px;
      margin-bottom: 3rem;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-rows: 300px 300px;
      .img1{
        background-position: center center !important;
        background-repeat: no-repeat !important;
        background-size: contain !important;
        grid-column: 1/3;
        grid-row: 1/2;
        //background-attachment: fixed !important;
        //grid-column: 1 / 2;
        //grid-row: 1/5;
        //width: 100%;
        //height: 450px;
      }
      .img2{
        background-position: center center !important;
        background-repeat: no-repeat !important;
        background-size: contain !important;
        grid-column: 3/5;
        grid-row: 1/2;
        //background-attachment: fixed !important;
        //grid-column: 2 / 3;
        //grid-row: 2 / 6;
        //width: 100%;
        //height: 450px;
      }
      .img3{
        background-position: center center !important;
        background-repeat: no-repeat !important;
        background-size: contain !important;
        grid-column: 2/4;
        grid-row: 2/3;
        //background-attachment: fixed !important;
        //grid-column: 3 / 4;
        //grid-row: 1 / 5;
        //width: 100%;
        //height: 450px;
      }
    }
    .info{
      margin-bottom: 1.8rem;
      .btn{
        transition: all 0.3s ease-in-out;
        &:hover{
          background-color: $hoverBackgroundColor;
        }
      }
    }
    p{
      font-size: 1.2rem;
      color: $greyText;
      line-height: 1.7;
      font-weight: 300;
      margin-bottom: 1.8rem;
    }
    .technologies{
      h3{
        font-size: 2rem;
        font-weight: 600;
        text-transform: uppercase;
        margin-bottom: 1.5rem;
      }
      .logos{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        align-items: center;
        justify-items: center;
        grid-gap: 20px;
        img{
          width: 100%;
          max-width: 100px;
        }
        .sizeup{
          img{
            max-width: 190px !important;
          }
        }
      }
    }
  }
}

/*Tablets*/
@media only screen and (max-width:960px){
  #portfolio-project{
    .container{
      width: 100%;
      padding: 5px;
    }
  }
}

/*Phones*/
@media only screen and (max-width:767px){
  #portfolio-project{
    .container{
      p{
        font-size: 1rem;
      }
      h1{
        font-size: 2rem;
      }
      .project-image{
        grid-template-columns: 1fr;
        grid-template-rows: 300px 300px 300px;
        .img1{
          grid-column: 1/2;
          grid-row: 1/2;
        }
        .img2{
          grid-column: 1/2;
          grid-row: 2/3;
        }
        .img3{
          grid-column: 1/2;
          grid-row: 3/4;
        }
      }
    }

  }
}
