#home{
  .container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 80px 0;
    align-items: center;
    .info{
      padding: 110px;
      position: relative;
      .blue-square{
        height: 400px;
        width: 400px;
        border: 25px solid $blueSquare;
        position: absolute;
        left: -200px;
        top: 0;
      }
      h1{
        font-size: 2.5rem;
        text-transform: uppercase;
        font-weight: 500;
        letter-spacing: 2px;
        color: $blackText;
        margin-bottom: 2rem;
        position: relative;
      }
      p{
        font-size: 1.3rem;
        text-transform: capitalize;
        color: $greyText;
        margin-bottom: 4rem;
        font-weight: 400;
        position: relative;
      }
      a{
        font-size: 0.9rem;
        text-transform: uppercase;
        text-decoration: none;
        letter-spacing: 4px;
        color: $blackText;
        font-weight: 300;
        border-bottom: 1px solid black;
        padding-bottom: 5px;
        position: relative;
      }
    }
    .image{

      .background{
        background-image: url('/public/img/Harrup2.JPG');
        width: 100%;
        max-width: 500px;
        height: 700px;
        background-repeat: no-repeat;
        background-position: top center;
        background-size: cover;
        background-repeat: no-repeat;
        margin: 0 auto;
      }
    }
  }
}

/*Tablets*/
@media only screen and (max-width:960px){
  #home{
    .container {
      width: 100%;
      padding: 20px 5px;
    }
  }
}
/*Phones*/
@media only screen and (max-width:767px){
  #home{
    .container {
      width: 100%;
      padding: 20px 5px;
      .info{
        padding: 0;
        .blue-square{
          display: none;
        }
      }
      .image{
        .background{
          height: 70vh;
        }
      }
    }
  }
}
