$greyText:#919191;
$blackText:#16171b;
$blueSquare:#dbf1ff;
$redSquare:#ffeded;
// $hoverColor:rgba(255, 53, 53, 0.9);
$hoverColor:rgba(255, 237, 237, 0.95);
$darkBlueSquare:#52b8ff;
$blueHeading:#c6e4ff;
$yellowCircle:#ffc853;
$hoverBackgroundColor:rgba(249, 137, 137,0.95);
$blogSectionBackground:#f9fafc;
